*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
env/
*.log
*.pot
*.py[cod]
*$py.class
*.so
.coverage
*.mo
*.pot
node_modules/
npm-debug.log
pip-log.txt
pydocstyle
.tox
coverage.xml
htmlcov/
.pytest_cache/
.vscode/
.idea/
.DS_Store